@using Microsoft.Extensions.Configuration.Json
@using RecipeApplication.Shared.Models
@using System.Net
@using System.Text.Json;
@using RecipeApplication.Client.Pages
@using Newtonsoft.Json;
@using System.Web;
@using System.Data.Common;
@using System.Threading.Tasks;
@using System.Data.SqlClient;

@inject HttpClient Http;
@inject NavigationManager Navigation

@page "/ShoppingList"

<h1><big>Shopping List</big></h1>
<hr>
<br />


@code {



}